<div class="block rounded-lg shadow-lg bg-white max-w-md">
  <h1 class="font-bold text-4xl"><%= @weather.city_name %> (<%= @zip %>)</h1>

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <tbody>
              <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Current</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <%= @weather.current %>
                  <% if @cache_hit %>
                    <span class="text-orange-500">*</span>
                  <% end %>
                </td>
              </tr>
              <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">High</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <%= @weather.high %>
                </td>
              </tr>
              <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Low</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <%= @weather.low %>
                </td>
              </tr>
            </tbody>
            </caption>
          </table>
          <% if @cache_hit %>
            <div class="text-sm text-gray-700 font-light">
              <span class="text-orange-500">*</span>
              Weather current as of <%= @weather.current_time %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
